:root {
    --light: #465AB8;
    --dark: #281764;
}

#header-id {
    background-image: linear-gradient(to right, var(--light), var(--dark))
}

.singleHeader {
    display: flex;
    align-items: center;
}

#search-btn {
    background-color: var(--light);
    width: 100%;
}

#header-id {
    background-color: blue !important;
}

#search-btn {
    width: 100%;
}

.border {
    border: solid 3px black;
    margin-bottom: 30px;
}

#singleCity {
    border: 5px black;
}

.five-day .col .fiveDayCard {
    background-color: #323D4F;
    color: white;
}

/* Google CSS SPECIFICITY */