:root {
    --light: #465AB8;
    --dark: #281764;
  }
#header-id{
    background-image: linear-gradient(to right, var(--light), var(--dark))
}
#search-btn{
    background-color: var(--light);
    width: 100%;
}

#header-id {
    background-color: blue !important;
}

#search-btn {
    width: 100%;
}

.border {
    border: solid 3px black;
    margin-bottom: 30px;
}

/* Google CSS SPECIFICITY */